<footer class="wrapper-container">
  <div class="footer-nav">
    <div class="list-wrapper">
      <h5 class="list-title">Product</h5>
      <ul class="list-container">
        <li class="list-item">
          <a href="#">Coding</a>
        </li>
        <li class="list-item">
          <a href="#">Prototyping</a>
        </li>
        <li class="list-item">
          <a href="#">Knowledge sharing</a>
        </li>
        <li class="list-item">
          <a href="#">Feedback</a>
        </li>
        <li class="list-item">
          <a href="#">What's new</a>
        </li>
      </ul>
    </div>
    <div class="list-wrapper">
      <h5 class="list-title">Explore</h5>
      <ul class="list-container">
        <li class="list-item">
          <a href="#">Featured sandboxes</a>
        </li>
        <li class="list-item">
          <a href="#">Search sandboxes</a>
        </li>
      </ul>
    </div>
    <div class="list-wrapper">
      <h5 class="list-title">For</h5>
      <ul class="list-container">
        <li class="list-item">
          <a href="#">Individuals</a>
        </li>
        <li class="list-item">
          <a href="#">Teams</a>
        </li>
        <li class="list-item">
          <a href="#">Enterprise</a>
        </li>
      </ul>
    </div>
    <div class="list-wrapper">
      <h5 class="list-title">About</h5>
      <ul class="list-container">
        <li class="list-item">
          <a href="#">Pricing</a>
        </li>
        <li class="list-item">
          <a href="#">Company</a>
        </li>
        <li class="list-item">
          <a href="#">Blog</a>
        </li>
        <li class="list-item">
          <a href="#">Prodcasts</a>
        </li>
        <li class="list-item">
          <a href="#">Jobs
            <span class="notif-item">1</span>
          </a>
        </li>
        <li class="list-item">
          <a href="#">Terms of use</a>
        </li>
        <li class="list-item">
          <a href="#">Privacy policy</a>
        </li>
      </ul>
    </div>
    <div class="list-wrapper">
      <h5 class="list-title">Support</h5>
      <ul class="list-container">
        <li class="list-item">
          <a href="#">Documentation</a>
        </li>
        <li class="list-item">
          <a href="#">Contact support</a>
        </li>
        <li class="list-item">
          <a href="#">Status</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-titles">
    <div class="footer-socials">
      <a href="#" class="social-icon"></a>
      <a href="#" class="social-icon"></a>
      <a href="#" class="social-icon"></a>
    </div>
    <div class="footer-copyright">Copyright © 2022 CodeSandbox BV.</div>
  </div>
</footer>

<script src="/minify/js/main.min.js"></script>
</body>

</html>